extends layout

block content
  aside.col-md-2.hidden-sm.hidden-xs
    h2 Basic Information
    p Time: MWF 2:00-2:50
    p Location: DBH 1100
    p Course Email: TBD
    p Office Hours: TBD
    h2 Course Staff
    p TBD
    h2 Upcoming Events
    p TBD
  main.col-md-10.col-sm-12
    h2 Course Description
    p It's a course website! More details to follow.
    h2 Learning Objectives
    p TKTK
    h2 Assignments
    p TKTK
    h2 Grading
    p TKTK
    h2 Submission
    p TKTK
    h2 Repository
    p
      | This website is live on GitHub: 
      a(href="https://github.com/uci-inf-133/inf133-fa18", target="_blank") https://github.com/uci-inf-133/inf133-fa18
    p You can submit pull requests to update the webpage.