doctype html
html
  head
    title= 'INF 133 - User Interaction Software - Fall 2018'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/bootstrap.min.js")
  body
    .container
      .row
        header
          .col-md-6.col-sm-12.name
            h1 INF 133 - User Interaction Software - Fall 2018
          nav.col-md-6.col-sm-12
            a(href='/') Home
            |  | 
            a(href='/assignments') Assignments
            |  | 
            a(href='/project') Project
            |  | 
            a(href='/calendar') Calendar
      .row
        hr
      .row
        block content
      .row
        hr
      .row
        footer.col-xs-12
          | Copyright &copy; 
          script.
            document.write(new Date().getFullYear());
          |  by Daniel Epstein.
