extends ../layout

block content
	main.container-fluid
		h1 A0: Getting to Know You, Getting to Know Us
		h3='Due ' + assignment.due
		p There are two parts to this assignment. Getting to Know You (Background Survey & 1-Slide Upload) and Getting to Know Us (Syllabus Quiz). You must complete both parts of this assignment to pass the class.
		p We encourage you to complete this assignment over the weekend so we can address any questions or concerns about the syllabus in lecture on Monday.
		h2 Getting to Know You (Background Survey & 1-Slide Upload)
		p We want to get to know you a little better!
		ol 
			li Submit the two-question background survey so we can better understand your goals and web programming background. 
				tbd TBD
			li Please submit an informal slide with:
			ul
				li A picture
				li Name (formal, preferred name, pronouns)
				li Majors / Minors
				li Year (1, 2, 3, 4, 5, ...)
				li Hometown
				li Some fun fact about you!
		h3 Submission
		p Submit the survey on Canvas: 
			tbd TBD
		p Add a slide to the shared 
			a(href="https://docs.google.com/presentation/d/1K6WSJA79v1IHDppqS0WC0ddHzbDXRzPoW02c9qjL2Wo/edit?usp=sharing") Google presentation
			| . You can modify the template if you wish, but keep the design clean. We're hoping the shared presentation will help you learn about your classmates. Please contact the course staff if you are uncomfortable with the rest of the class seeing your slide.
		h3 Grading
		p This assignment will be graded on a scale of zero points.
		h2 Getting to Know Us (Syllabus Quiz)
		p The syllabus contains answers to questions about how to contact the course staff, what constitutes cheating, when assignments are due, and much more. We have created a short quiz to ensure you have read and understood the syllabus and to avoid spending substantial lecture time describing policy details.
		p Complete the Syllabus Quiz on Canvas. You can refer to the 
			a(href="/syllabus") syllabus
			|  while you take the quiz. You can take the quiz as many times as you want.
		h3 Submission
		p On Canvas: 
			tbd TBD
		h3 Grading
		p This assignment will be graded on a scale of zero points. You must receive 100% on this quiz to pass this class. But again, you may re-take the quiz as many times as you want.