extends ../layout

block content
	main.container-fluid
		h1 A3: Spotify Browser in Angular and Express
		h3='Due ' + assignment.due
		p In this assignment, you’ll demonstrate your ability to (1) create an authentication and authorization flow to enable gathering data from an API, and (2) develop a frontend interface which displays the data. You’ll use Angular and Express to create a webpage and backend server to browse the music on Spotify, a popular music streaming app. Your backend server will handle authentication via OAuth and communicate with the Spotify API. Your page will support searching for artists, albums, and tracks and navigating between the three resources.
		p
			strong This assignment may be completed in pairs (exactly two students enrolled in the class) or individually.
			|  You may choose your own partner or use Slack to help find one. Because the assignment features build on top of one another, it is recommended that you pair program rather than distribute the assignment features. There is no grade benefit or penalty to completing the assignment individually.
		p By the end the of day on Saturday, October 3rd, please navigate to the “People” tab on Canvas to sign up for an A3 group. Do correspond with your partner while signing up for groups. If you’re the first member to join a group, please sign up for the next group that’s empty. Keep a note of the Assignment Group Number that you’ve signed up for and add it to your readme file.
		p You will not be able to swap to another group after the 3rd. If something happens after you sign up and you decide you're best off working alone (team conflicts, incompatible schedules, etc.), you can disband your group and let the course staff know. However, you will not be able to team up with someone else, even if they do not have a partner. You will need to complete the assignment alone.
		h2 Starter code
		p A starter repository is on 
			a(href="https://classroom.github.com/g/v4pIdrfG") GitHub Classroom
			| .
		h3 Repository structure
		p The repository contains somewhere around 80 files. You will not need to edit most of them in this assignment. The repository contains two folders: 
			code webserver
			|  and 
			code client
			| . 
			code webserver
			|  includes the Express/Node.js backend for communicating with the Spotify API. 
			code client
			|  includes the Angular frontend for browsing music.
		p In the backend (
			code webserver
			|  folder), the files you should edit are:
			ul
				li
					code routes/index.js
					| : a JavaScript file where calls to the server are routed and requests to the Spotify API are made.
				li You should also create two files: 
					code client_secret.json
					|  and 
					code tokens.json
					| . Both contain secret information, so they should not be committed to the repository and is therefore listed in the .gitignore file.
		p In the frontend (
			code client
			|  folder), the files which need editing are all under the 
			code app
			|  folder. Within that folder, the files/subfolders you should edit are:
			ul
				li The six components in the 
					code components
					|  folder: 
					code about
					| , 
					code carousel
					| , 
					code carousel-card
					| , 
					code search
					| ,  
					code track-list
					| , and 
					code thermometer
					| . Each component folder contains four files (
					code *.component.css
					| , 
					code *.component.html
					| , 
					code *.component.ts
					| , and 
					code *.component.spec.ts
					| ). Of those, all edits will be made in the 
					code .component.html
					|  and 
					code .component.ts
					|  files.
				li Three of the four components in the 
					code pages
					|  folder
					| : 
					code album-page
					| , 
					code artist-page
					| , and 
					code track-page
					| . 
					code home-page
					|  will not be edited. Again, all edits will be made in the 
					code .component.html
					|  and 
					code .component.ts
					|  files.
				li The one service in the 
					code services
					|  folder: 
					code spotify-service
					| . All edits will be made in the 
					code .service.ts
					|  file, none in the 
					code .service.spec.ts
					|  file.
				li One of the five classes in the 
					code data
					|  folder: 
					code track-features.ts
					| . The four other classes do not need to be edited.
		p You will also edit the 
			code readme.txt
			|  file in the root folder.
		p This assignment can be completed without writing any additional files or functions. But you may add a file or function if you want (such as to complete one of the bonus features).
		h3 Setting up your Workspace
		p There are no global dependencies required to run the Express webserver.
		p For the client, you will need to install Angular thourhg npm. To do this, you will install the Angular 
			a(href="https://cli.angular.io/") Command Line Interface (CLI)
			|  globally with 
			code npm install -g @angular/cli
			| . The Angular project is already set up in the 
			code client
			|  folder, but the CLI is necessary to run the project.
		p You will also need to install the dependencies for both the webserver and the client. These dependencies are defined in each project's respective 
			code package.json
			|  files. 
			code cd
			|  into each respective project's folder and install the dependencies with 
			code npm install
			| .
		h4 Running the webserver
		p A Spotify Developer account is required to set up the Express webserver. Create a Spotify account or log in at 
			a(href="https://developer.spotify.com/dashboard/") https://developer.spotify.com/dashboard/
			|  and follow the instructions to create a client id. Name the app whatever you'd like. For the App description, enter:
			blockquote This App is used to create a music browser as part of a course assignment for IN4MATX 133, User Interface Software, at the University of California, Irvine.
			|  Indicate that you are building a Website and are not developing a commercial application.
		p Once you have created your application, create a file, 
			code client_secret.json
			| , with your consumer key and secret. It should be of the form:
			pre
				| {
				|  "client_id": "Your Client Key",
				|  "client_secret": "Your Client Secret"
				| } 
		p At this time, also create a placeholder file for 
			code tokens.json
			| . This file will later be overwritten once an access and refresh token have been retrieved. Your 
			code tokens.json
			|  file should be exactly:
			pre
				| {
				|  "access_token": null,
				|  "refresh_token": null
				| } 
		p To run the Express webserver, 
			code cd
			|  into the webserver folder and run 
			code npm start
			| . This will start the webserver at 
			code localhost:8888
			| . Be sure the dependencies have been installed first via 
			code npm install
			| .
		p When you make a change to code in the webserver, you will have to end the running program and re-run it. End it by typing 
			code Ctrl-C
			|  into the command line and then re-running it with 
			code npm start
			| .
		h4 Running the client
		p To run the Angular client, 
			code cd
			|  into the client folder and run 
			code ng serve
			| . This will start the client at 
			code localhost:4200
			| . Adding the 
			code --open
			| flag will open it up in the browser. Be sure the dependencies have been installed first via 
			code npm install
			| .
		p Any code changes will be automatically reloaded on the client.
		h3 Working in pairs
		p If you are completing the assignment in pairs, you should work in one shared GitHub repository. The easiest way to do this is to have one of you create the repository and 
			a(href="https://help.github.com/articles/inviting-collaborators-to-a-personal-repository/") add the other as a collaborator
			| .
		p The downside of working in pairs is that you open yourself up to potential issues merging one person's code into another. Make sure you always 
			a(href="https://help.github.com/desktop/guides/contributing-to-projects/syncing-your-branch/") update the version of the code on your computer
			|  prior to beginning work. This 
			a(href="https://gist.github.com/ccannon94/a75f1f725d33a1834dd7f5feebbc7d4b") guide
			|  offers some suggestions for how to resolve potential conflicts which might arise. But more generally, we suggest that you complete this assignment via pair programming, alternating roles as drivers and navigators.
		h3 Using another framework
		p A few students have asked the course staff whether they can use another framework, such as React, to complete this assignment in order to pick up a new skill. 
			strong While this is an option, you are required to get approval from the course staff prior to pursuing this option.
			| We expect to only allow grant approval for students who have used Angular, React, or another framework already. The next assignment will implement a mobile app in Ionic, a framework which adds mobile components on top of the Angular framework. Weak Angular fundamentals could therefore cause problems later in the course. The final assignment will present another opportunity to use another web framework and will have fewer downstream consequences.
		p Should you choose to use another framework, it is done with the understanding that the course staff will not support you in learning the framework or debugging your code. The course staff will not be more lenient in grading or give any extra credit for using something not covered in the course. You are required to complete the same assignment, which will likely mean adapting the provided starter code to the new framework. Should you choose this path, 
			strong you are on your own
			| . Godspeed!
		p Please include in your readme.txt any information we would need in order to run your code.
		h2 Requirements
		p There are five parts to this assignment. The first two parts are the most challenging and worth the bulk of the assignment grade. The later parts use many of the same components, so once those are implemented the later parts become a matter of gluing them together. You can also optionally add any of a number of bonus features.
		h3 Webserver Authentication and Authorization (OAuth)
		p In this part, you will implement an OAuth flow to authenticate and authorize your webserver to access data from the Spotify API. This process occurs entirely in the webserver folder, where you will need to edit 
			code routes/index.js
			| .
		p As described in lecture, OAuth consists of four steps:
			ol
				li To request authorization, you will edit the 
					code /login
					|  route to make a request. The functions include some starter code for what scopes to request.
				li To get the access token, you will edit the 
					code /callback
					| route to exchange the returned code for an access token and a refresh token. The 
					code writeTokenFile
					|  function should be used to update the 
					code tokens.json
					|  file with the tokens. Saving the tokens in a file will prevent having to re-authenticate every time the webserver is restarted. The function takes in a callback, which will be called after the file is written.
				li To make API requests, update the 
					code makeAPIRequest
					|  function to make a request to the Spotify API. The variable 
					code spotify_base_uri
					|  can be used to reference the base component of the URI, and the 
					code spotify_endpoint
					|  argument designates the endpoint for the request. The 
					code res
					|  argument can be used to return the response as JSON. A list of endpoints which call that function have already been created. These endpoints will access the desired resources from the spotify API and do not need to be edited.
				li To refresh the access token, you will pdate the 
					code refresh
					|  function to use the refresh token to get a new access token. Again, save the response to the 
					code tokens.json
					|  file with the 
					code writeTokenFile
					|  function. Once this function is written, edit your 
					code makeAPIRequest
					|  function to check whether an Unauthorized status code (401) was returned. If it was, refresh the token and make the request again.
		p The first three parts are required to complete the rest of the assignment. If you are struggling to refresh the token, you can skip it and instead log back in whenever the access token expires.
		p It's easiest to debug this part of the assignment directly in the URL bar of the browser. To start the OAuth process, go to 
			code http://localhost:8888/login
			| . Once set up, this page will redirect you to Spotify's authorization endpoint and kick off the OAuth flow. Since Express is running server-side JavaScript, any logged messages will be sent to your operating system console (e.g., Terminal on Mac or Command Prompt on Windows) rather than the browser console.
		h3 Spotify Browser Home Page
		img.maxwidth(src='../files/assignments/a3_home.png')
		p In this part, you will create a homepage to view some information about the logged in user's account. You will also create search requests to the Spotify API.
		p First, update the 
			code sendRequestToExpress
			|  function in the Spotify service to ask the Express webserver to make an API request to Spotify at the endpoint passed in. Then, create functions for each endpoint in the Express webserver. All of these functions should return Promises with the data the Express webserver returns.
		p Once the endpoints have been created, edit the 
			code about
			|  component to call the endpoint created for the "about me" page when the load info button is clicked. To do so, you will need to inject the Spotify service you just edited. The 
			a(href="https://developer.spotify.com/documentation/web-api/reference/") Spotify API endpoint reference
			|  describes what this endpoint and other endpoints return. Update the variables in the component's 
			code .ts
			|  file and bind them to the appropriate places in the 
			code .html
			|  file. This will populate the left side of the home page with the logged in user's name, profile picture, and a link to open their profile on Spotify.com.
		p The right side of the page contains the 
			code search
			|  component. The search component contains an input and a select (dropdown) menu to declare what to search for. Bind the values in the component's model to the input and select controls. Bind the search button to a function which uses the Spotify service to have Express make the API request. You can also search online to learn how to trigger a search when a user presses "enter" in the input field or changes the dropdown menu. These two features are optional--you are only required to bind the search button. For simplicity, your code can assume that any search typed in is valid (e.g., returns at least one artist/track/album).
		p Map the response from Express into an array of the appropriate resource type--ArtistData, AlbumData, or TrackData. The constructor of each resource should automatically parse the dictionary values Spotify returns into an Object. For example, AlbumData loads the genres of the Album and creates an array with each of the artists on the album. Note that all three of these resource classes extend the ResourceData class, which parses some dictionary values common across all the resource types. You should not need to edit any of these four files; contact the course staff if a response parses differently than you would expect or causes an error.
		p Once the array of resources has been created, display the search results in either a 
			code carousel
			|  component (for artists or albums) or a 
			code track-list
			|  component (for tracks).
		p The carousel is implemented via a 
			a(href="https://getbootstrap.com/docs/4.0/components/carousel/") Bootstrap carousel
			| . Edit the carousel component to create 
			code carousel-card
			|  components for each resource passed in. Additionally, edit the carousel-card component to link to the local URL for browsing the specific artist or album. Check the app router (
			code app-routing.module.ts
			| ) to identify what the URL should be.
		p The track list is implemented in the 
			code track-list
			|  component. Edit the component to display each track in the response as a row in the component's table, displaying the track's index, name, duration, artist, and album. The component should support hiding the artist and/or album columns for the track when the hideArtist or hideAlbum variables are true.
		h3 Spotify Browser Artist Page
		img.maxwidth(src="../files/assignments/a3_artist.png")
		p In this part, you will create a page to view some information about a searched-for or linked-to artist. You will update the 
			code artist-page
			|  component to do this. For simplicity, you can assume the id passed via the URL is always valid (e.g., always refers to an artist which exists in the Spotify API). The artist-page includes code for retrieving the artist's id from the URL.
		p Update the Artist Page to retrieve the basic information about the artist, their top tracks, their albums, and similar artists. The Express webserver has endpoints for each of these four requests. Update the component to display the information as described in the component's template. You will re-use the 
			code track-list
			|  and 
			code carousel
			|  components on this page.
		h3 Spotify Browser Album Page
		img.maxwidth(src="../files/assignments/a3_album.png")
		p In this part, you will create a page to view some information about a searched-for or lined-to album. You will update the 
			code album-page
			|  component to do this. For simplicity, you can assume the id passed via the URL is always valid (e.g., always refers to an album which exists in the Spotify API). The album-page includes code for retrieving the album's id from the URL.
		p Update the Album Page to retrieve the basic information about the album and it's tracks. The Express webserver has endpoints for each of these two requests. Update the component to display the information as described in the component's template. You will re-use the 
			code track-list
			|  component on this page.
		h3 Spotify Browser Track page
		img.maxwidth(src="../files/assignments/a3_track.png")
		p In this part, you will create a page to view some information about a searched-for or lined-to track. You will update the 
			code track-page
			|  component to do this. For simplicity, you can assume the id passed via the URL is always valid (e.g., always refers to a track which exists in the Spotify API). The track-page includes code for retrieving the track's id from the URL.
		p Update the Track Page to retrieve the basic information about the track and it's audio features. The Express webserver has endpoints for each of these two requests. Update the component to display the information as described in the component's template.
		p For this page, you will have to edit the 
			code thermometer
			|  component. The thermometer uses a 
			a(href="https://getbootstrap.com/docs/4.1/components/progress/") Bootstrap progress bar
			|  to display the track's audio features. Note the component does not have any Input fields, so you will have to identify what fields you need and define them.
		p You should also edit the 
			code track-features
			|  class to use the 
			a(href="https://gka.github.io/chroma.js/") chroma library
			|  to display the progress bar's color as a mix between two values depending on it's percent. The example mixes between red and green. You can choose whatever colors you like, so long as differences are visually distinct. HSL blending is recommended, as it more closely models how human vision blends colors.
		h3 Optional/Bonus Features
		p The five parts of the assignment create a tool for browsing the Spotify API. There are many ways of extending this browser, and we can offer a small amount of extra credit for implementing an extension or two. We’ve enumerated some potential extensions:
			ul
				li Moving the Express webserver to a publicly visible URL rather than running on localhost. One way of doing this would be to create a Heroku instance. Students can get a free 
					a(href="https://www.heroku.com/github-students") Hobby-tier server
					|  on Heroku for two years. This 
					a(href="https://devcenter.heroku.com/articles/deploying-nodejs") guide
					|  may be helpful for deploying your heroku app.
				li The webserver for this assignment can only handle a single user because tokens are being saved in a JSON file with no user information. Use 
					a(href="https://github.com/expressjs/session") session middleware
					|  and an improved scheme for storing tokens to handle multiple users.
				li Adding a component which plays music for an Artist/Album/Track using Spotify's 
					a(href="https://developer.spotify.com/documentation/web-playback-sdk/") Web Playback SDK.
		p We are open to other suggestions for bonus features.
		h3 Submitting
		p Your code repository on GitHub Classroom is your submission. The service will take the latest snapshot of your repository as your submission. Any commits made after the deadline are considered late and are subject to the course's 
			a(href="/syllabus#duedates") late policy
			| .
		p Please update your readme.txt with how long the assignment took, who or what online resources you consulted with, any bonus features you added, and anything else we should know. If the assignment was completed in a pair, the readme should list names/emails/ids of both students. Only one submission needs to be made, however.
		p Because many people will complete this assignment in pairs, you are also required to complete a short evaluation on Canvas signifying how work was distributed. 
			tbd link TBD, will be added closer to deadline
		h3 Grading
		p This assignment will be graded on a scale of 10 points, broken down as follows:
		ul
			li Webserver Authentication and Authorization (3 points)
			li Spotify Browser Home Page (3 points)
			li Spotify Browser Artist Page (2 points)
			li Spotify Browser Album Page (1 point)
			li Spotify Browser Track Page (1 point)
		p Each bonus feature completed will earn you 1 point of extra credit. However, you can only earn a maximum of 2 points this way (e.g., no points given for beyond two bonus features). The maximum grade for this assignment is therefore 12/10.
		p The course staff reserves the right to redistribute, penalize, or award bonus points to one or both students in situations where work was not distributed equitably among partnerships.
		p In prior courses, you've been asked to follow good principles for indentation, naming variables, commenting, etc. We expect you to do the same in this course, but aim to avoid being draconian in our enforcement of these principles. Egregiously poor formatting, completely uncommented code, etc. may incur a small penalty (e.g., -1 point), but we expect this to be rarely applied.