extends ../layout

block content
	main.container-fluid
		tbd Small clarifications may arrive later
		h1 A5: Improved Sleep tracker in Ionic
		h3='Due ' + assignment.due
		p In this assignment, you’ll improve upon your mobile sleep tracking app in Ionic developed in 
			a(href="assignments/a4") A4
			| . You will add either a feature involving native resources or back up logged data to a Firebase database. You will also improve upon the visual and interaction design to follow good principles of mobile design.
		p You may keep the same partner for A4 and A5. If you had a partner for A4, 
			strong you may not switch partners to complete A5.
			|  You and your partner may choose to complete A5 individually, but you cannot find new partners.
		h2 Starter code
		p A starter repository is on 
			a(href="https://classroom.github.com/g/BhZGbr3w") GitHub Classroom
			| . Please use this repository rather than re-using your A4 one, even if you import your A4 code.
		h3 Repository structure
		p The repository contains a large number of files. It adds a few files beyond the A4 starter code, specifically:
			ul
				li Two services in the 
					code services
					|  folder: 
					code native.service
					|  and 
					code firebase.service
					| . These services provide some starter code for accessing native resources and connecting to Firebase.
		p It also edits a few configuration files, specifically 
			code package.json
			|  and 
			code package-lock.json
			|  to install Firebase and native resource libraries.
		p Again, you will likely want to create additional components, pages, or services to build your app. Running 
			code ionic generate [filename]
			|  will generate skeleton code for these files
			a(href="https://ionicframework.com/docs/cli/generate/") (documentation here).
			|  The decision on how many pages, components, etc. to add and what they contain is up to you.
		p There is also a 
			code readme.txt
			|  file in the root folder. Most of the readme questions are identical to A4 and can be copied from one to another. There are a few A5-specific questions added.
		h3 Setting up your Workspace
		p Check the 
			a(href="assignments/a4") A4
			|  description for information on setting up Node JS and Ionic.
		p Cordova should be installed globally to utilize native resources: 
			code npm install -g cordova
		p You will have to do some manual merging of your A4 code with the A5 starter repository. There are many ways to do this, but the recommended flow is:
		ul
			li Back up the A5 starter repository
			li Replace the  
				code sleeptracker
				|  folder in the starter repository with your A4 code
			li Add the two services from the A5 backup to the 
				code services
				|  folder
			li Replace the A4 
				code package.json
				|  and 
				code package-lock.json
				|  files with the A5 backups
			li Run 
				code npm install
				|  to add the required libraries.
		p If you do not want to replace the package files (you imported some new libraries in A4, for example), you can install the same packages with the following command-line commands:
		ul
			li
				code ionic cordova plugin add cordova-plugin-local-notification@0.8.5
			li
				code npm install de.appplant.cordova.plugin.local-notification@0.8.5
			li
				code ionic cordova plugin add cordova-plugin-device-motion
			li
				code npm install @ionic-native/device-motion@beta
			li
				code npm install firebase
			li
				code npm install @angular/fire
		p You can skip the installation of anything you are not planning to use (e.g., no need to install the native libraries or add the native service if you are planning to complete the Firebase option).
		h4 Setting up Firebase
		p To set up Firebase, you will need to create a project in the 
			a(href="https://console.firebase.google.com") Firebase console
			| . You will then need to add your project configuration information to the 
			code environment.ts
			|  file in the 
			code environments
			|  folder. The 
			a(href="https://github.com/angular/angularfire2/blob/master/docs/install-and-setup.md#4-add-firebase-config-to-environments-variable") Angular Firebase instructions
			|  describes how to edit the file (follow steps 4 and 5). The information about the project you created can be found by following the "gear" icon by Project Overview.
			img.maxwidth(src="../files/assignments/a5_firebase.png")
		p Please commit this file although it may contain secret information. This will allow us to use your database for grading rather than re-creating a new database. Make sure your Firebase database's rules are defined as public.
		h4 Running the App
		p To run the Ionic app, 
			code cd
			|  into the sleeptracker folder and run 
			code ionic lab
			| . This will start the app at 
			code localhost:8200
			| . 
			code ionic serve
			|  will also run the app in the browser, but 
			code lab
			|  is recommended because Ionic will then replicate what the app would look like on iOS and Android. Be sure the dependencies have been installed first via 
			code npm install
			| . Any code changes will be automatically reloaded.
		p Once Ionic is installed, you can run your app on your phone using the Ionic DevApp (
			a(href="https://play.google.com/store/apps/details?id=io.ionic.devapp&hl=en_US") Android
			| , 
			a(href="https://itunes.apple.com/us/app/ionic-devapp/id1233447133?mt=8") iOS
			| ). The terminal will provide a URL for accessing your app (follow the "External") link. You will need to make an 
			a(href="https://dashboard.ionicframework.com/signup?source=framework-home") Ionic account
			|  to access the DevApp.
		p Load your app via the DevApp takes over the DevApp. This makes it difficult to refresh changes or go back to the DevApp's menu. Shake your phone if you need to exit your running app and go back to the DevApp menu.
		h3 Working in pairs
		p If you are completing the assignment in pairs, you should work in one shared GitHub repository. The easiest way to do this is to have one of you create the repository and 
			a(href="https://help.github.com/articles/inviting-collaborators-to-a-personal-repository/") add the other as a collaborator
			| .
		p The downside of working in pairs is that you open yourself up to potential issues merging one person's code into another. Make sure you always 
			a(href="https://help.github.com/desktop/guides/contributing-to-projects/syncing-your-branch/") update the version of the code on your computer
			|  prior to beginning work. This 
			a(href="https://gist.github.com/ccannon94/a75f1f725d33a1834dd7f5feebbc7d4b") guide
			|  offers some suggestions for how to resolve potential conflicts which might arise. But more generally, we suggest that you complete this assignment via pair programming, alternating roles as drivers and navigators.
		h2 Requirements
		p In addition to the three features described in 
			a(href="assignments/a4") A4
			| , you must add one of the following two features:
			ol
				li A feature involving a native device resource.
				li Automatically backing up all logged data to a Firebase database.
		p These two options are designed to be of roughly equal difficulty.
		p Your app will also be evaluated on how well it follows 
			a(href="files/lectures/11_02_18-mobile_design.pdf") good principles of mobile design
			|  and whether it goes beyond Ionic standards to create a visually compelling app.
		h3 Option 1: Using a Native Device Resource
		p You must add a feature which uses a native device resource. The added feature must 
			em change the app's experience for a user in a meaningful way
			| . It is not sufficient to read a device's manufacturer and present it back, for example, because that does not change how a user would log or view their sleep. Please contact the course staff if you have any question about what would or would not qualify as a feature.
		p Ionic supports a 
			a(href="https://beta.ionicframework.com/docs/native/") long list
			|  of native device resources. However, some of these are not supported by the Ionic DevApp. So be sure to select a feature which the 
			a(href="https://ionicframework.com/docs/pro/devapp/") DevApp will support
			| . Each Ionic resource provides instruction on how it should be installed.
		p The 
			a(href="../files/lectures/11_19_18-device_resources.pdf") Device Resources
			|  lecture offers a few suggestions for features which use a native resource. One option is to send notifications to remind someone when it is time to journal their sleepiness (a 
			a(href="https://dl.acm.org/citation.cfm?id=2466140") well-studied method
			|  for reducing the burden of logging). Another option is to approximate how restful someone's overnight sleep is by measuring how much the accelerometer value varies while they sleep.
		p Debugging native features can be challenging because console statements are not visible on a device. One option is to use bindings to display variables or debugging messages on the screen.
		h3 Option 2: Backing Up Logged Data to Firebase
		p In A4, all data logged would be cleared when the app is restarted (such as when a change to the code is made). For this A5 option, you must back up all data a person logs to a Firebase database. When a person re-opens the app, all of the data they previously logged should be visible. When a person logs a new record, it must be saved to the database.
		p You may structure your database however you like, so long as both overnight sleep and sleepiness logs can be saved and retrieved. One challenge is that Firebase expects a JSON object rather than a TypeScript class. You will need to write helper functions to export a class to a JSON object and re-import it. You may want to change the name of the collection in the starter code or create multiple collections for different types of data.
		p You may use an alternate database technology with permission from the course staff, such as MongoDB or MySQL. However, the staff will not provide any support for those options. You are on your own if you choose to pursue another technology. Make sure the readme describes anything the course staff would need to know in order to run your code.
		h3 Following Good Principles of Mobile Design
		p We discussed four major principles of good mobile design in 
			a(href="files/lectures/11_02_18-mobile_design.pdf") lecture
			| :
		ul
			li A useful initial view
			li The "uh-oh" button
			li Error prevention
			li Follow platform conventions
				a(href="https://material.io/design/guidelines-overview/") (Android)
				| 
				a(href="https://developer.apple.com/design/human-interface-guidelines/ios/overview/themes/") (iOS)
		p These principles are by no means exhaustive, but provide a good foundation for thinking through the design of your app. Your app will be evaluated against these principles. Feel free to pick a single platform to prioritize (and specify which in your readme).
		h3 Creating a compelling app
		p Your app will also be evaluated on whether the app would impress a new user in your target audience (specified in your readme). Impressing the target audience can be either aesthetic or functional--e.g., by changing the app's styling or adding additional features.
		p We have not explicitly covered good principles for visual design in this class. Platform conventions offer some recommendations about visual design, such as using a concise set of colors and ensuring legible fonts. We expect that, at minimum, your app edits Ionic's global styling variables and customizes the appearance of some components.
		h3 Submitting
		p Your code repository on GitHub Classroom is your submission. The service will take the latest snapshot of your repository as your submission. Any commits made after the deadline are considered late and are subject to the course's 
			a(href="/syllabus#duedates") late policy
			| .
		p You may use up to two late days on this assignment. Please indicate whose late day(s) you are using in your readme. If you completed the assignment in a pair, the late day(s) can be from either of the pair's allowance, but must be divided as whole days. For example, one day from student A and one day from student B are allowed for a total of two late days. Two days from student A and zero from student B is also allowed. One day from student A and zero days from student B is also allowed (for a total of one late day). 12 hours from student A and 12 hours from student B is not allowed. One day from student A and two days from student B is also not allowed.
		p Because many people will complete this assignment in pairs, you are also required to complete a short evaluation on Canvas signifying how work was distributed.  The partner evaluation is available at 
			a(href="https://canvas.eee.uci.edu/courses/11457/quizzes/48693") https://canvas.eee.uci.edu/courses/11457/quizzes/48693
			| .
		h3 Grading
		p This assignment will be graded on a scale of 10 points, broken down as follows:
		ul
			li The added feature, either using a native device resource or backing up logged data to Firebase (3 points)
			li Following good principles of mobile design (4 points)
			li Creating a compelling app (2 points)
			li A readme which explains how features are implemented and the design rationale (1 point)
		p You can receive 2 points of extra credit if you complete both feature options (using a native resource or backing up to Firebase).
		p The course staff reserves the right to redistribute, penalize, or award bonus points to one or both students in situations where work was not distributed equitably among partnerships.
		p In prior courses, you've been asked to follow good principles for indentation, naming variables, commenting, etc. We expect you to do the same in this course, but aim to avoid being draconian in our enforcement of these principles. Egregiously poor formatting, completely uncommented code, etc. may incur a small penalty (e.g., -1 point), but we expect this to be rarely applied.